<% layout('layout') %>

<header class="main-header">
	<section class="main-logo-container">
		<h1 class="main-logo">
			K<span>eep in </span>M<span>ind</span>
		</h1>
	</section>
	<section class="controls">
		<div class="button three-d-button important-button">+Add Card</div>
		<div class="button three-d-button important-button">See All Cards</div>
	</section>
</header>
<main class="content">
	<section class="main-content auto-margin-container min-resolution">
		<div class="arrow-container left-arrow-container ">
			<div class="arrow left-arrow"></div>
		</div>
		<div class="arrow-container right-arrow-container ">
			<div class="arrow right-arrow"></div>
		</div>
		<div class="card-container" id="card-container">
			<div class="card">
				<div class="card-front">
					<img src="" alt="" width="300" height="300" class="card-image">
					<p class="card-text">Lorem ipsum dolor sit amet</p>
				</div>
				<div class="card-back">
					<div class="card-text">
						<p class="card-text-item">Translation:</p>
						<p>Teste para testar</p>
						<p class="card-text-item">Definition:</p>
						<p>Ato de testar algo para ver se seu funcionamento ocorre como esperado.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
