    <footer></footer>
	
    <script src="/javascripts/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/mousetrap.min.js"></script>
    <script src="/javascripts/navigation.js"></script>
  </body>
</html>