<!DOCTYPE html>
<html>
	<head>
	   <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/structure.css">
        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
		<title><%= title %></title>
	</head>
	<body>
    <!--[if lt IE 7]>
        <p class="alert">O seu navegador está <strong>desatualizado</strong> browser. Por favor, atualize ele <a href="http://browsehappy.com/">Clicando Aqui</a>.</p>
    <![endif]-->
    <header class="main-header">
        <section class="main-logo-container">
            <div class="main-logo">Keep in Mind</div>
        </section>
        <section class="controls">
            <div class="button three-d-button">+Add Card</div>
            <div class="button three-d-button">See All Cards</div>
        </section>
    </header>
    <main class="content">
        <section class="main-content auto-margin-container min-resolution">
            <div class="arrow-container left-arrow-container ">
                <div class="arrow left-arrow"></div>
            </div>
            <div class="arrow-container right-arrow-container ">
                <div class="arrow right-arrow"></div>
            </div>
            <div class="card-container" id="card-container">
                <div class="card">
                    <div class="card-front">
                        <img src="" alt="" width="300" height="300" class="card-image">
                        <p class="card-text">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="card-back">
                        <div class="card-text">
                            <p class="card-text-item">Translation:</p>
                            <p>Teste para testar</p>
                            <p class="card-text-item">Definition:</p>
                            <p>Ato de testar algo para ver se seu funcionamento ocorre como esperado.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
	
    <script src="/javascripts/main.js"></script>
  </body>
</html>