<%include header.ejs%>
    <header class="main-header">
        <section class="main-logo-container">
            <div class="main-logo">Keep in Mind</div>
        </section>
        <section class="controls">
            <div class="button three-d-button">+Add Card</div>
            <div class="button three-d-button">See All Cards</div>
        </section>
    </header>
    <main class="content">
        <section class="main-content auto-margin-container min-resolution">
            <form action="/login">
        </section>
    </main>
<%include footer.ejs%>
